

/* header-隐藏顶部线条 */
// .headband {
//   display: none;
// }

/* header-顶部空白 */
.header {
  margin-top: 10px;
	$border-radius = 5px;
  +mobile() {
    margin-top: 0;
  }
}

// .site-brand-container {
//   background: url(/images/title_background.jpg);
//   background-position: 70% 20%;
//   background-size: cover;
// }

// //由于本版本存在边框不统一，因此设置
// .sidebar {
//   background: #666666;
// }

// body 
// {
//     background: #666666;
// }